/* ⌘ OPTIONAL RESETS ⌘ 

description:
    Apply css reset with normalize.css

source: 
    https://necolas.github.io/normalize.css/    

usage:    

/////////////////////////////////////////////////////////////////////////////////////////////////////*/
@import "normalize.css";

/*///////////////////////////////////////////////////////
  ⌘ SITE STYLES ★ SITE STYLES ★ SITE STYLES ⌘ 
///////////////////////////////////////////////////////*/

/* ⌘ FONTS ⌘ /////////////////////////////////////////////////////////////////////////////////////////////////////*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Source+Sans+Pro:wght@300;400;600&display=swap");

/* ⌘ STYLES ⌘ /////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* ★ BASE */
@import "base/_variables";
@import "base/_mixins";
@import "base/_global";
@import "base/_layout";


/* ★ MODULES */
@import "modules/_module";
